<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1"> 
        <meta name="author" content="Mohamed Gadelrab, Anushka Shinde">
        <meta name="description" content="Contact">
        <meta name="keywords" content="athletics, rock climbing, extreme sports, mountains, hiking, outdoors">        

        <meta property="og:title" content="About Us - Climb-able" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://cs4640.cs.virginia.edu/mag2sqv/hw2/" />
        <meta property="og:image" content="https://i.imgur.com/kIcrJfZ.jpeg" />
        <meta property="og:description" content="Meet the team and learn about Climb-able's mission!" />
        <meta property="og:site_name" content="Climb-able" />

        <title>About Us - Climb-able</title>
    </head>  

    <body>

        <header>
            <nav class="navbar">
                <ul>
                  <li><a href="../index.html">Home</a></li>
                  <li><a href="map.html">Global map</a></li>
                  <li><a href="members.html">Members</a></li>
                  <li><a href="aboutUs.html">About Us</a></li>
                  <li><a href="contact.html">Contact</a></li>
                </ul>
            </nav>
        </header>

        </section>
    </body>

</html>
