body {
    background-color: #ffffff;
    background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
}

/* add margin to all elements */
* {
    margin-bottom: 8px;
}

/* style sections, header, and footer to be containers */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* add padding to all sections */
section {
    width: 70%;
    padding: 20px;
    border: solid chocolate;
    border-width: 4px;
    border-radius: 12px;
}

/* make copyright float left */
.copyright {
    float: left;
}

/* Adjust feel of footer */
.primary-footer{
    padding: 10px 30px;
    border: solid chocolate;
    border-width: 4px;
    border-radius: 12px;
}

img {
    width: 90%;
    max-width: 800px;
    max-height: 600px;
}

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 0;
}

.navbar ul {
    width: 100%;
    list-style: none;
    text-align: left;
}

.navbar ul li {
    display: inline-block;
    margin-left:  10px;
    margin-right: 10px;
}

section.container {
    text-align: justify;
    margin-bottom: 20px;
}

section.container section {
    border: solid rgb(158, 158, 158);
}

@media screen and (max-width: 500px) {
    nav.navbar {
        text-align: center;
    }

    nav.navbar ul {
        display: block;
        text-align: center;
    }

    nav.navbar li {
        display: block;
        margin: 10px 0;
    }

    section.container {
        padding: 10px;
    }
}

@media screen and (max-width: 800px) {
    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 18px;
    }
}